button {
    border: none;
    padding: 1em;
    background-color: red;
    color: white;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.1s;
}

button:hover {
    background-color: rgb(200, 3, 3);
}

button:active {
    background-color: rgb(246, 74, 74);
}
